.product-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr); /* Creates three equal columns */
  gap: 30px; /* Gap between items */
  align-items: center;
  }
  
  .product {
    box-shadow: 0 0 5px rgba(171,32,253, 0.5);
    background-color: aqua;
    width:100%;
    text-align: center;
    padding: 10px;

  }
  .Gold{
    h2{
      color: rgb(218,165,32);
     }

  }
  .Silver{

   h2{
    color: rgb(192,192,192);
   }
  }
  .Plantinum{
    h2{
      color:   rgb(229, 228, 226);
     }
    
  
  }
  
  .product img {
    max-width: 100%;
    height: 60%;
  }
  
  .add-to-cart {
    background-color: rgb(171,32,253);
    color:black;
    border: 3px solid red;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart:hover {
    background-color: rgb(171,32,253);
  }