.product-plan{
  align-items: center;
  text-align: center;
  h1{
    color: rgb(171, 32, 253);
    font-size: 40px;
  }

  .product-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr); /* Creates three equal columns */
    gap: 30px; /* Gap between items */
    align-items: center;
    margin-top: 10px;
    
    }
}

