.Intro{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0 auto;
   
    justify-content: center;
   
    height: 100vh; /* Adjust as needed */

 
}

.Intro-text{
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center; 
    text-align: center; /* Horizontally center */
    height: 100vh;
   


    h1{
        font-size: 40px;
        margin-left: 80px;
        
      
    
    }
    span{
        h1{
            color:  rgb(171,32,253);
            margin-top: 10px;

        }

    }
}

.Intro-photo{
   
   
   img{
    width: 440px;
   height: 600px;
   margin-left: 20px;
   border-radius: 35% 50%;
   }
  
}