.Intro {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
   
    margin: 0 auto;
    background-color: black;

    justify-content: center;

    height: 100vh;
    /* Adjust as needed */


}

.Intro-text {
    width: 100px;
    height: 100px;
    display: grid;
    place-items: center;
    text-align: center;
    /* Horizontally center */
    height: 100vh;
    background-color: black;
    .Intro-text1{
        background-color: black;
    }



    h1 {
        font-size: 40px;
        margin-left: 80px;
        color:white



    }

    span {
        h1 {
            color: rgb(171, 32, 253);
            margin-top: 10px;

        }

    }
}

.Intro-photo {


    img {
        width:100VW;
        height: 100VH;
       
       
        
    }

}