.Intro{
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
   
    justify-content: center;
   
    height: 100vh; /* Adjust as needed */
    background-color: blue/* Just for visualization */
 
}

.Intro-text{

    
    span{
        h1{
            color:  rgb(171,32,253);

        }

    }
}

.Intro-photo{
   
    background-color: aqua;
   
  
}