.join-text {
    margin: 20px;
    align-items: center;
    text-align: center;
}


.Join-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(171, 32, 253);

}
.Join-btn:hover {
    background-color: rgb(71, 26, 97);
    color: aliceblue;
  }