nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    color: white;
    padding: 16px;

    h1{
        color:  rgb(171,32,253);
        font-size: 40px;
      
    }
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 70px;
    font-size: 20px;


.link{
    text-decoration: none;
    color:black;
    font-weight: bold;
    transition: color 0.3s;

}
}



.link:hover {
    color:rgb(171,32,253);
}